*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #E8E8E8;
}

header{
  height: 100px;
    width: 100%;
    background-color:black;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}


.headerLeft, .headerRight {
   position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.headerLeft{
    width: 60%;
    justify-content: space-around;
}

.headerRight{
    width: 40%;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.headerLeft ul {
    display: flex;
    width: 65%;
    justify-content: space-around;
}

.HeaderList li{
    display: inline;
 
}

.Services{
    margin-top: 40px;
    margin-left: 230px;
    font-family: Arial, Helvetica, sans-serif;
    color: #34393f;
    font-weight: 100;
}

#sherbimi{
    padding-top: 20px;
    padding-left: 12px;
}

.artikujt{  
    margin-top: 15px;
    margin-bottom: 20px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.artikujt a {
    color: black;
    text-decoration: none;
}

.artikujt a:hover {
    text-decoration: underline;
}

.lajmi{
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 220px; !important
    margin-left: 4px;
    margin-right: 4px;
    overflow: hidden;
}

.lajmi{
    
    width: 220px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.foto {
    background-size: contain;
    height: 200px;
    width: 100%;
    transition-duration: 1s;
    
    position: relative;
}

.foto:hover {
    transform: scale(1.05);
    background-size: contain;
    
    opacity: 0.85;
}



.artikujt h3, .artikujt h5 {
    margin-top: 10px;
    margin-left: 10px;
}







footer {
    width: 100%;
    height: 400px;
    background-color: black;
}

.upperFooter {
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 80%;
    display: flex;
    border-bottom: 1px white solid;
    justify-content: space-around;
}

.kolonat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    color: white;
    font-size: 14px;
}

.kolonat:first-child {
    justify-content: space-around;
}

.kolonat h3 {
    color: #FA7D19;
    font-size: 16px;
    margin-bottom: 5px;
}


#footerLogo img {
    margin-top: 40px;
    width: 120px;
    height: 120px;
}

.kolonat li {
    list-style-type: none;
    margin: 5px 0;
}

.lowerFooter {
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lowerFooter img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.kontakt {
    display: flex;
}

.kolonat:last-child * {
    margin: 7px 0;
}

#subscribeBox {
    padding-left: 5px;
    height: 30px;
}

::placeholder {
    color: black;
}

.kolonat button {
    height: 25px;
    width: 80px;
    color: white;
    background-color:#FA7D19;
    border: none;
    border-radius: 5px;
}
.backtop {
    text-align: end  ;
    margin-top: 90%;

}