* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e8e8e8;
}
.Faqja2 {
  text-decoration: none;
  color: white !important;
}

a:visited {
  text-decoration: none;
  color: black;
}

header {
  height: 100px;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.headerLeft,
.headerRight {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.headerLeft {
  width: 60%;
  justify-content: space-around;
}

.headerRight {
  width: 40%;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.headerLeft ul {
  display: flex;
  width: 65%;
  justify-content: space-around;
}

.HeaderList li {
  display: inline;
}

#showLoginForm:hover {
  cursor: pointer;
}

.lajmet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25px;
}

.others {
  margin-right: 5%;
  padding-top: 100px;
  width: 35%;
}

.kryesor {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.titulli {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  margin-bottom: 40px;
}
.nentitulli {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.lajmi_teksti {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  padding-top: 80px;
  padding-right: 10px;
}

.sidenews {
  padding: 20px;
  text-decoration: none;
  list-style-type: none;
  padding-top: 150px;
}

.sidenews li {
  background: #c9d4d4;
  margin: 5px;
  padding-bottom: 20px;
  width: 300px;
  text-decoration: none;
}

.titulli_listes {
  background-color: #e8e8e8 !important;
  font-size: 20px;
  padding-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sidenews li :first-child {
  padding-bottom: 5px;
}

@media only screen and (max-width: 700px) {
  * {
    overflow-x: hidden;
  }

  .headerLeft img {
    height: 0;
    width: 0;
  }
  .Faqja2 {
    font-size: 12px;
  }
  .headerRight {
    font-size: 14px;
  }

  .headerLeft ul {
    width: 100%;
  }
}

footer {
  width: 100%;
  height: 400px;
  background-color: black;
}

.upperFooter {
  position: relative;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 80%;
  display: flex;
  border-bottom: 1px white solid;
  justify-content: space-around;
}

.kolonat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
  color: white;
  font-size: 14px;
}

.kolonat:first-child {
  justify-content: space-around;
}

.kolonat h3 {
  color: #fa7d19;
  font-size: 16px;
  margin-bottom: 5px;
}

#footerLogo img {
  margin-top: 40px;
  width: 120px;
  height: 120px;
}

.kolonat li {
  list-style-type: none;
  margin: 5px 0;
}

.lowerFooter {
  position: relative;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowerFooter img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.kontakt {
  display: flex;
}

.kolonat:last-child * {
  margin: 7px 0;
}

#subscribeBox {
  padding-left: 5px;
  height: 30px;
}

::placeholder {
  color: black;
}

.kolonat button {
  height: 25px;
  width: 80px;
  color: white;
  background-color: #fa7d19;
  border: none;
  border-radius: 5px;
}
.backtop {
  text-align: end;
  margin-top: 90%;
}

.loginDisplay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
}

.loginArea {
  display: block;
  color: white;
  width: 35%;
  height: 500px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
}

.loginContent,
.registerContent {
  height: 94%;
  width: 90%;
  margin: 0 5%;
  margin-top: 6%;
}

.closeButton {
  padding-top: 20px;
  float: right;
  width: 25px;
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
}

.closeButton:hover {
  cursor: pointer;
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 50%;
}

.loginDisplay input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 10px;
}

.loginDisplay label {
  font-size: 18px;
}

.submitArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitArea a,
.loginContent a {
  color: white;
}

#loginButton,
#registerButton {
  width: 250px;
  height: 40px;
  color: white;
  background-color: #fa7d19;
  border: none;
}

.loginContent p {
  text-align: center;
  margin-top: 30px;
}

.errorsDivRegister {
  color: red;
  height: 5%;
  width: 100%;
  font-size: 14px;
}

.errorsDivLogin {
  width: 100%;
  height: 10%;
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.registerArea {
  display: none;
  color: white;
  width: 35%;
  height: 660px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
}

.registerForm {
  height: 85%;
}

input::placeholder {
  color: gray;
}

#registerButton {
  align-self: center;
}

#showLogin,
#showRegistration {
  text-decoration: underline;
}

#showLogin:hover,
#showRegistration:hover {
  cursor: pointer;
}

.registerContent p {
  text-align: center;
  margin-top: 15px;
}
