*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #E8E8E8;
}

header{
  height: 100px;
    width: 100%;
    background-color: #34393F;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}


.headerLeft, .headerRight {
   position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.headerLeft{
    width: 60%;
    justify-content: space-around;
}

.headerRight{
    width: 40%;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.headerLeft ul {
    display: flex;
    width: 65%;
    justify-content: space-around;
}

.HeaderList li{
    display: inline;
 
}

main {
    position: relative;
    width: 100%;
    height: 700px;
    background: url(../images/health-minister.jpg) no-repeat;
    background-size: 100% 100%;
    
}

main .textBox {
    position: absolute;
    width: 30%;
    left: 10%;
    height: 40%;
    background-color: #34393F;
    opacity: 0.95;
    bottom: 0;
    
}

main .text {
    color: white;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 13%;
    width: 80%;
    height: 100%;
    justify-content: space-around;
}

.text button {
    font-size: 11px;
    color: white;
    width: 70px;
    height: 30px;
    background-color: #FA7D19;
    border: none;
}

.titulli_lajmeve{
    margin-top: 40px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #34393f;
    font-weight: 100;
}

.artikujt{  
    margin-top: 15px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.artikujt a {
    color: black;
    text-decoration: none;
}

.artikujt a:hover {
    text-decoration: underline;
}

.lajmi{
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 20%;
    margin-left: 4px;
    margin-right: 4px;
    overflow: hidden;
}

.lajmi_hint{
    
    width: 20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.foto {
    height: 200px;
    width: 100%;
    transition-duration: 1s;
    
    position: relative;
}

.foto:hover {
    transform: scale(1.05);
    background-size: contain;
    
    opacity: 0.85;
}



.artikujt h3, .artikujt h5 {
    margin-top: 10px;
    margin-left: 10px;
}



footer{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.TopFooter{
    padding: 10px;
    background-color: #34393F;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.CentralFooter{
    background-color: #25292e;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



footer li{
    list-style-type: none;
    margin-top: 5px;
    margin-left: 50px;
}
.FooterIcon{
    max-height: 40px;
    max-width: 40px;
}

.icons{
    display: flex;
    flex-direction: row;

}
.partners{
    height: 50px;
    background-color: #34393F;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
  
}
.PartnerIcons{
    display: flex;
    flex-direction: row;

}
.FooterIcon{
    height:40px ;
    width:40px ;
}



.footer1{
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: cover;
    padding-top: 10px;
    padding-left: 10%;
}

.first{
    
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
}
.logof{
  
    margin-top: 0;
    padding-top: 0;
}

.footer1 li{
    list-style-type: none;
    margin-top: 5px;
    margin-left: 50px;
}
.second {
    padding-top: 50px;
}

.third{
    padding-top: 50px;
}

.fourth{

}

.TitujtFooter{
    color:#FA7D19;
    padding-top: 8px;
}