* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e8e8e8;
}

header {
  height: 100px;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.headerLeft,
.headerRight {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.headerLeft {
  width: 60%;
  justify-content: space-around;
}

.headerRight {
  width: 40%;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.headerLeft ul {
  display: flex;
  width: 65%;
  justify-content: space-around;
}

.HeaderList li {
  display: inline;
}

.HeaderList :nth-child(1) {
  text-decoration: none;
  color: white;
}

body {
  background-color: #e8e8e8;
}

main {
  margin: 40px;
}

.titulli {
  background-color: black;
  margin: 2px;
  border: black 1px solid;
  height: 170px;
  color: white;
  display: flex;

  border: 0.0625rem solid orange;
}

.titulli h1 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: 400;
  margin-left: 90px;
  margin-top: 30px;
}

.titulli img {
  position: static;
  max-width: 180px;
  margin-bottom: 50px;
}

#foto2 {
  position: static;
  max-width: 140px;
  margin-bottom: 50px;
  margin-left: 130px;
  margin-bottom: 50px;
}

#subscriptions {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  max-width: 80rem;
  border: 0.06rem solid orange;
  min-height: 20rem;
  background-color: #f6f6f6;
  margin: 2.5rem auto 0;
  z-index: 0;
}

#contenti {
  margin-left: 40px;
  margin-top: 30px;
}

#subscription_title {
  margin-bottom: 4px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: Noto Serif;
  margin: 0;
  line-height: 1.2;
  vertical-align: middle;
}

#subscription_sale {
  margin-left: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  padding-top: 15px;
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-weight: 300;
  display: inline-block;
  background-color: orange;
  vertical-align: middle;
  padding: 0.4rem 0.2rem;
  padding-bottom: 5px;
  margin: 0.3 rem;
}

#subscription_cost {
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 300;
  font-family: "Noto Serif";
  margin-bottom: 40px;
  padding-bottom: 5px;
}

#subscription_description {
  border-top: solid 1px gray;
  font-weight: 400;
  margin: 2.8rem 1.2rem 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#button {
  display: inline-block;
  background: black;
  border: 0;
  line-height: 2.5em;
  padding: 0 0 0 1em;
  margin-bottom: 1em;
  outline: none;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#button #arrow {
  display: inline-block;
  line-height: 2.5em;
  text-align: center;
  background: #fa7d19;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  width: 2.5em;
  transition: margin 200ms;
  margin-left: 0.75em;
}

img {
  margin: 20px;
  max-width: 300px;
}

#abonimi #subscription :nth-child(3) {
  background-color: black;
}

footer {
  width: 100%;
  height: 400px;
  background-color: black;
}

.upperFooter {
  position: relative;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 80%;
  display: flex;
  border-bottom: 1px white solid;
  justify-content: space-around;
}

.kolonat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
  color: white;
  font-size: 14px;
}

.kolonat:first-child {
  justify-content: space-around;
}

.kolonat h3 {
  color: #fa7d19;
  font-size: 16px;
  margin-bottom: 5px;
}

#footerLogo img {
  margin-top: 40px;
  width: 120px;
  height: 120px;
}

.kolonat li {
  list-style-type: none;
  margin: 5px 0;
}

.lowerFooter {
  position: relative;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowerFooter img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.kontakt {
  display: flex;
}

.kolonat:last-child * {
  margin: 7px 0;
}

#subscribeBox {
  padding-left: 5px;
  height: 30px;
}

::placeholder {
  color: black;
}

.kolonat button {
  height: 25px;
  width: 80px;
  color: white;
  background-color: #fa7d19;
  border: none;
  border-radius: 5px;
}
.backtop {
  text-align: end;
  margin-top: 90%;
}
