* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
   
    background-color: #E8E8E8;
}

header{
  height: 100px;
    width: 100%;
    background-color:black;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 10px #8888;
    
}



.headerLeft, .headerRight {
   position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.headerLeft{
    width: 60%;
    justify-content: space-around;
}

.headerRight{
    width: 40%;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.headerLeft ul {
    display: flex;
    width: 65%;
    justify-content: space-around;
}

.HeaderList li{
    display: inline;
 
}
.Faqja2{
    color: white;
    text-decoration: none;
}

main {
    width: 40%;
    background: black;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.loginContent, .registerContent {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.loginContent > *, .registerContent > * {
    padding: 10px 0;
}

.loginContent h2, .registerContent h2 {
    text-align: center;
}

.errorsDivLogin, .errorsDivRegister {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

form>*{
    margin: 20px 0;
}

input {
    color: black;
    width: 250px;
    padding: 10px 20px;
}

 button {
    background-color: #FA7D19;
    border: none;
    padding: 10px 30px;
    align-self: center;
}

.registerContent form>*{
    margin: 10px 0;
}









